PORT=8000
NODE_ENV=development

MONGODB_URI=mongodb://localhost:27017/raj_portfolio
CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET=replace_with_a_random_secret_at_least_32_chars
JWT_REFRESH_SECRET=replace_with_a_different_random_secret_at_least_32_chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

GITHUB_USERNAME=your_github_username
GITHUB_TOKEN=your_github_personal_access_token

LEETCODE_USERNAME=your_leetcode_username

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
